@{
    this.ViewData["Title"] = "About";
}

<h2>About the project</h2>
<br/>
<p>
    <b>Forum</b> is a social network for sharing experience about spending good time during your holidays .
    <br />
    <br />
    <br />
    <img src="~/images/sea.png"  >
</p>
