@{
    this.ViewData["Title"] = "Create a new post";
    this.ViewData["Action"] = "Create";
    this.ViewData["SubmitButton"] = "Create";
    this.ViewData["PostFormVisibility"] = "block";
    this.ViewData["PostsMethod"] = "post";
}

@model PostViewModel

<h2>Create a new post</h2>

<partial name="_PostForm" />